@import 'tailwindcss';

@custom-variant hocus {
  &:hover,
  &:focus-visible {
    @slot;
  }
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  @apply min-h-screen;
}

body {
  @apply antialiased;

  background: #1f1f1f;
  color: #f5f5f5;
}
