@import 'tailwindcss';

@custom-variant hocus {
  &:hover,
  &:focus-visible {
    @slot;
  }
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
  /* remove all default colors to avoid accidental usage */
  --color-*: initial;

  --color-surface-100: light-dark(hsl(210 6% 90%), hsl(210 6% 8%));
  --color-surface-200: light-dark(hsl(210 6% 96%), hsl(210 6% 12%));
  --color-surface-300: light-dark(hsl(210 6% 100%), hsl(210 6% 20%));

  --color-frame-100: light-dark(hsl(210 6% 70%), hsl(210 6% 28%));
  --color-frame-200: light-dark(hsl(210 6% 56%), hsl(210 6% 38%));
  --color-frame-300: light-dark(hsl(210 6% 40%), hsl(210 6% 52%));

  --color-content-50: light-dark(hsl(210 6% 60%), hsl(210 6% 52%));
  --color-content-100: light-dark(hsl(210 6% 26%), hsl(210 6% 72%));
  --color-content-200: light-dark(hsl(210 6% 18%), hsl(210 6% 84%));
  --color-content-300: light-dark(hsl(210 6% 0%), hsl(210 6% 100%));

  --color-accent-400: oklch(70.7% 0.165 254.624);
  --color-accent-600: oklch(54.6% 0.245 262.881);

  /* var(--color-red-300), var(--color-red-700) */
  --color-error-surface: light-dark(oklch(80.8% 0.114 19.571), oklch(51.4% 0.222 16.935));
  /* var(--color-black), var(--color-white) */
  --color-error-content: light-dark(#000, #fff);

  --color-dialog-backdrop: light-dark(hsl(210 6% 0% / 28%), hsl(210 6% 16% / 52%));
}

html.theme-transition :is(*, *::before, *::after) {
  transition-property: background-color, border-color, color, fill, stroke !important;
  transition-duration: 200ms !important;
  transition-timing-function: ease-in !important;
}

@media (prefers-reduced-motion: reduce) {
  html.theme-transition :is(*, *::before, *::after) {
    transition-duration: 0s !important;
  }
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

html, body, #root {
  @apply min-h-screen;
}

body {
  @apply antialiased bg-surface-100 text-content-100;
}
