/* slider */

.cadence-slider {
  --cadence-slider-thickness: 34px;
  --cadence-slider-track: 6px;
  --cadence-slider-thumb: 20px;
  --cadence-slider-radius: 2px;

  appearance: none;
  background: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  display: block;
}

.cadence-slider-horizontal {
  height: var(--cadence-slider-thickness);
}

.cadence-slider-vertical {
  width: var(--cadence-slider-thickness);
  writing-mode: vertical-lr;
  direction: rtl;
  vertical-align: middle;
}

.cadence-slider:focus {
  outline: none;
}

/* track: WebKit */

.cadence-slider::-webkit-slider-runnable-track {
  background: var(--color-content-50);
  border-radius: var(--cadence-slider-radius);
}

.cadence-slider-horizontal::-webkit-slider-runnable-track {
  height: var(--cadence-slider-track);
  margin-top: auto;
  margin-bottom: auto;
}

.cadence-slider-vertical::-webkit-slider-runnable-track {
  width: var(--cadence-slider-track);
  margin-left: auto;
  margin-right: auto;
}

/* track: Firefox */

.cadence-slider::-moz-range-track {
  background: var(--color-content-50);
  border-radius: var(--cadence-slider-radius);
}

.cadence-slider-horizontal::-moz-range-track {
  height: var(--cadence-slider-track);
}

.cadence-slider-vertical::-moz-range-track {
  width: var(--cadence-slider-track);
}

/* track: IE */

.cadence-slider::-ms-fill-lower,
.cadence-slider::-ms-fill-upper {
  background: var(--color-content-50);
  border-radius: var(--cadence-slider-radius);
}

/* thumb: WebKit */

.cadence-slider::-webkit-slider-thumb {
  appearance: none;
  background: var(--color-content-200);
  border: 1px solid var(--color-frame-300);
  border-radius: var(--cadence-slider-radius);
}

.cadence-slider-horizontal::-webkit-slider-thumb {
  width: var(--cadence-slider-track);
  height: var(--cadence-slider-thumb);
  margin-top: calc(-0.5 * (var(--cadence-slider-thickness) - var(--cadence-slider-thumb)));
}

.cadence-slider-vertical::-webkit-slider-thumb {
  width: var(--cadence-slider-thumb);
  height: var(--cadence-slider-track);
  margin-left: calc(-0.5 * (var(--cadence-slider-thickness) - var(--cadence-slider-thumb)));
}

.cadence-slider:active::-webkit-slider-thumb {
  background: var(--color-content-300);
}

/* thumb: Firefox */

.cadence-slider::-moz-range-thumb {
  background: var(--color-content-200);
  border: 1px solid var(--color-frame-300);
  border-radius: var(--cadence-slider-radius);
}

.cadence-slider-horizontal::-moz-range-thumb {
  width: var(--cadence-slider-track);
  height: var(--cadence-slider-thumb);
}

.cadence-slider-vertical::-moz-range-thumb {
  width: var(--cadence-slider-thumb);
  height: var(--cadence-slider-track);
}

.cadence-slider:active::-moz-range-thumb {
  background: var(--color-content-300);
}

/* thumb: IE */

.cadence-slider::-ms-thumb {
  width: var(--cadence-slider-track);
  height: var(--cadence-slider-thumb);
  background: var(--color-content-200);
  border: 1px solid var(--color-frame-300);
  border-radius: var(--cadence-slider-radius);
}

.cadence-slider:active::-ms-thumb {
  background: var(--color-content-300);
}
